*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:#EAEAEA;
}
html,body{
    width: 100%;
    height: 100%; 
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f4f9f936; */
    background-color: #1E1E2E;
    
}
.mainContainer{
    width:80%;
    height:80%;
    background-color:#2E2E3A ;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.startQuiz{
    width:50%;
    height:90%;
    text-align: center;
   
}
.playQuiz{
    width:50%;
    height:90%;
    text-align: center;
}
.playQuiz p{
    font-size: 20px;
}
.endQuiz{
    width:50%;
    height:90%;
    text-align: center;
}
.startQuiz,.playQuiz,.endQuiz{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}
.optionsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    padding: 5%;
}
/* utility class */
.btn{
    background-color: #007bff;
    border:none;
    color:#fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.btn2{
    background-color: #2b00ffd1;
    border:none;
    color:#fff;
    width: 100%;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}  

.hide{
    display: none!important;
}
.primaryBtn{
    background-color: #007bff;
}
.secondaryBtn{
    background-color:#3B82F6 ;
} 
.correctAnswer{
    background-color:  #22C55E;
}
.wrongAnswer{
    background-color:#EF4444; 
}
